<html>
    <head>
        <title>Recettes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />
        
    </head>

    <body>

        <!-- Navbar -->
        {% include "../app/navbar.html" %}    

        <!-- Body -->
        <div class="col align-baseline">
        {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        {% include "../app/footer.html" %} 

    </body>
</html>