{% extends 'app/base.html' %}



{% block content %}

  <div class="container-lg justify-content-center"> 
    {% include 'app/search_form.html' %}

    <h2 class="center-text"> {{ title }} </h2>
  </div>

  {% if recettes|length_is:"0" %}

    <p>Rien n'a été trouvé... Cherchez autre chose !</p>

  {% else %}

    {% load static %}
    <div class="container">
      <div class="row">
      {% for recette in recettes %}
        <div class="col">
          <div class="m-1">
            
          <!-- Card with recipe sum-up -->
          <div class="card" style="width: 18rem; margin: auto">

            <!-- Load image or display thumbnail -->
            {% with 'app/img/recettes/'|add:recette.image as image_static %}
            <div style="height: 150; overflow: hidden;">
              <a href="{% url 'app:recettes' %}{{recette.id}}" class="stretched-link">
                <img class="card-img-top" style="-ms-transform: translateY(-20%); transform: translateY(-20%);" src="{% static image_static %}" alt=" ">
              </a>
            </div>
            {% endwith %}

            <!-- Card Body -->
            <div class="card-body">

              <h5 class="card-title">{{ recette.name }}</h5>

              <div class="container">
                <div class="row" style="align-items: center;">

                  <div class="col">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people m-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                  </svg>
                  </div>

                  <div class="col">
                    <p class="m-1"> {{ recette.pour }} </p>
                  </div>

                  <div class="col">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock m-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                      <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                  </div>

                  <div class="col">
                    <p class="m-1"> {{ recette.preparation_time }} </p>
                  </div>
              </div>
            </div>

              <p class="card-text">{{ recette.description }}</p>
            </div>
          </div>

          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    {% endif %}

{% endblock %}